.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}

.form-group {
  width: 80%;
  margin: 0 auto;
}

.form-control {
  width: 100%;
  height: 40px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-control:hover {
  box-shadow: 0 0 5px white; /* Apply box-shadow on hover */
}








