form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  max-width: 1000px; /* Adjust as per your preference */
}

.formField {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; /* Added property */
  margin: 10px 0; /* Added property */
}

input[type="number"],
input[type="date"],
input[type="checkbox"] {
  width: 130px;
  height: 40px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px;
}

input[type="number"]:focus,
input[type="date"]:focus,
input[type="checkbox"]:focus {
  outline: none;
  border-color: #6c63ff;
  box-shadow: 0 0 4px rgba(108, 99, 255, 0.6);
}

button[type="submit"] {
  background-color: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px 0; /* Increased margin to distance from the form fields */
}

button[type="submit"]:hover,
button[type="submit"]:focus {
  background-color: #524ce0;
}

.input-title {
  margin-bottom: 5px;
  width: 140px; /* adjust this value to fit the widest label */
  text-align: right;
  margin-right: 10px;
}

.input-container {
  display: flex;
  flex-direction: row; /* change this to row */
  align-items: center; /* keep this */
  margin: 5px; /* keep this */
  flex: 1; /* keep this */
  #justify-content: flex-end; /* add this to align items to the right */
}


.input-field {
  width: 100%;
  max-width: 150px; /* Added property */
}
