<form (ngSubmit)="search()">
  <!-- Champs de filtrage -->
  <div class="formField">
    <div class="input-container">
      <label for="imageSize" class="input-title">Image size</label>
      <input type="number" id="imageSize" [(ngModel)]="imageSize" name="imageSize" class="input-field" placeholder="Taille de l'image">
    </div>

    <div class="input-container">
      <label for="dateMin" class="input-title">Min Date</label>
      <input type="date" id="dateMin" [(ngModel)]="minUploadDate" name="minUploadDate" class="input-field" placeholder="Date minimum d'upload">
    </div>

    <div class="input-container">
      <label for="dateMax" class="input-title">Max Date</label>
      <input type="date" id="dateMax" [(ngModel)]="maxUploadDate" name="maxUploadDate" class="input-field" placeholder="Date maximale d'upload">
    </div>

    <div class="input-container">
      <label for="perPage" class="input-title">Number of Images</label>
      <input type="number" id="perPage"  [(ngModel)]="perPage" name="perPage" class="input-field" placeholder="Nombres d'images">
    </div>
    <div class="input-container">
      <label for="fullDetail" class="input-title">Full detail <br>about images</label>
      <input type="checkbox" id="fullDetail" [(ngModel)]="fullDetail" name="fullDetail" class="input-field" placeholder="Full detail">
    </div>
    <div class="input-container">
      <label for="safesearch" class="input-title">Safe research</label>
      <input type="checkbox" id="safesearch" [(ngModel)]="safesearch" name="safesearch" class="input-field" placeholder="Full detail">
    </div>
  </div>
  <button type="submit">Rechercher</button>
</form>

