/* You can add global styles to this file, and also import other style files */
body {
  background-color: #222; /* Set the background color to a dark shade */
  color: #fff; /* Set the text color to white or a light color for better visibility */
  margin: 0;
  padding: 0;
}
